.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.rat_100 {
    padding-top: 100%!important;
}
.rat_75 {
    padding-top: 75%!important;
}
.rat_66 {
    padding-top: 66.66%!important;
}
.rat_56 {
    padding-top: 56.25%!important;
}
