<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

      <div class="row mx-auto p-0">
          <div class="row mx-auto col-8 p-0">
              <f:groupedFor each="{persons}" as="personsByTeam" groupBy="team" groupKey="team">
                  <h2 class="col-12 text-center bg-light">{team}</h2>
                  <f:for each="{personsByTeam}" as="person">
                      <div class="card col-sm-6 mt-1">
                          <img data-uid="{person.uid}" src="{person.photo}" class="card-img-top ajax" alt="image not uploaded">
                          <div class="card-body">
                                <h5 class="card-title">{person.name}
                                    <f:if condition="{person.isNew}">
                                        <f:then>
                                            <span class="badge badge-pill badge-warning">New</span>
                                        </f:then>
                                    </f:if>
                                </h5>
                          </div>
                      </div>
                  </f:for>
              </f:groupedFor>
          </div>
          <div class="col-4 p-5 pt-1">
             <h6 id="name"></h6>
              <p id="email"></p>
              <p id="phone"></p>
              <p id="skills"></p>
              <p id="description"></p>
              <p id="team"></p>
              <p id="position"></p>
          </div>
      </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$('.ajax').click(function(){
    var personUid = $(this).data('uid');
    $.post(
        'index.php',
        {eID: 'employeeDetailed',uid: personUid},
        function(data){
            $("#name").html(data.name);
            $("#email").html("<b>Email: </b>" + data.email);
            $("#phone").html("<b>Phone: </b>" + data.phone);
            $("#skills").html("<b>Skills: </b>" + data.skills.join(', '));
            $("#description").html("<b>Description: </b>" + data.description);
            $("#team").html("<b>Team: </b>" + data.team);
            $("#position").html("<b>Position: </b>" + data.position);
        }, 'json');
});
</script>
