<style>
.onHover {
    position: relative;
}
.onHover h5 {
    display: none;
    position: absolute;
    top: 20px;
    left: 5px;
}
.onHover:hover h5{
    display: block;
    background-color: rgba(255, 0, 0, 0.1);
}
</style>

<div class="row">
    <f:for each="{persons}" as="person">
        <div class="col-sm-{settings.imgColls} p-0 onHover">
            <img style="width: 100%;" src="{person.photo}" alt="Image not uploaded" />
            <h5 class="col-12 text-center">{person.name}</h5>
        </div>
    </f:for>
</div>
