<div id="c{data.uid}" class="row gridelement"
 xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
 xmlns:v="http://typo3.org/ns/FluidTYPO3/v/ViewHelpers">

   <div style="width: 100%;">
     <div class="accordion col-12" id="accordion{data.uid}" role="tablist" aria-multiselectable="true">
       <f:for each="{data.tx_gridelements_view_children}" as="content">
         <div class="card bg-muted">
           <div class="card-header bg-muted" role="tab" id="heading{content.uid}">
             <h6 class="card-title text-center">
               <a  class="text-secondary" role="button" data-toggle="collapse" data-parent="#accordion{data.uid}" href="#collapse{content.uid}" aria-controls="collapse{content.uid}">
                 {content.header}
               </a>
           </h6>
           </div>
           <div id="collapse{content.uid}" class="collapse" role="tabpanel" aria-labelledby="heading{content.uid}">
             <div class="card-body">
               {v:content.render(contentUids: {0: content.uid})}
             </div>
           </div>
         </div>
       </f:for>
     </div>
  </div>

</div>
