<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="row justify-content-md-center">

    <div id="sidebar" class="col-md-2 card bg-warning">
        <f:format.raw>{data.tx_gridelements_view_column_14}</f:format.raw>
    </div>
    <div id="content" class="col">
        <span id="sidebarCollapse" class="badge badge-pill badge-primary">Toggle sidebar</span>
        <f:format.raw>{data.tx_gridelements_view_column_15}</f:format.raw>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    // toggling sidebar onclick
    $('.sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('hide');
    });
});
</script>

</div>

</div>
