<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<link rel="stylesheet" href="typo3conf/ext/main/Resources/Public/Css/layout.css" />
    <div id="carousel{data.uid}" class="carousel slide p-0" data-ride="carousel">
        <div class="carousel-inner p-0">
            <f:for each="{data.tx_gridelements_view_children}" as="content" iteration="itr">
                <div class="carousel-item container {f:if(condition:itr.isFirst, then: ' active')} {data.flexform_slider_relation}"
                    style="padding-left: 0; padding-right: 0;">
                    <div class="content bg-warning">
                        {v:content.render(contentUids: {0: content.uid})}
                    </div>
                </div>
            </f:for>
        </div>
        <a class="carousel-control-prev" href="#carousel{data.uid}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel{data.uid}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
