<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <f:format.raw>{data.tx_gridelements_view_column_11}</f:format.raw>
    </div>
    <div class="col-md-4">
        <f:format.raw>{data.tx_gridelements_view_column_12}</f:format.raw>
    </div>
    <div class="col-md-4">
        <f:format.raw>{data.tx_gridelements_view_column_13}</f:format.raw>
    </div>
</div>

</div>
