<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="col-11 p-0 row justify-content-center p-0">
            <ul class="nav nav-tabs col-md-5">
                <f:for each='{mainnavigation}' as='item'>
                    <li class="mr-4">
                        <a href="{item.link}" target="{item.target}" title="{item.title}">
                            {item.title}
                        </a>
                    </li>
                </f:for>
            </ul>
            <div class="col-offset-md-1 col-md-5">
                <f:form action="search" method="post" id="tx_indexedsearch"
                    class="row" pageUid="18" >
					<input type="hidden" name="tx_indexedsearch_pi2[controller]" value="Search">
                    <input type="hidden" name="tx_indexedsearch_pi2[action]" value="search">
                    <f:form.textfield name="tx_indexedsearch_pi2[search][sword]" value="{sword}" id="tx-indexedsearch-searchbox-sword" class="col-md-9" placeholder="Type your search query:" />
                    <f:form.submit name="search[submitButton]" value="Search" id="tx-indexedsearch-searchbox-button-submit" class="col-md-3" />
                </f:form>
            </div>
        </div>
    </nav>
</html>
<f:render section="Main"  arguments="{_all}"/>
