<f:layout name="Default" />
<f:section name="Main">

    <div class="row justify-content-md-center mt-5">
        <div class="col-md-11">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
        </div>
    </div>

</f:section>
