<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <div class="row justify-content-md-center mt-5 p-0">
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-8">
                    <v:content.render pageUid="{data.uid}" column="0"/>
                </div>
                <div class="col-sm-4">
                    <v:content.render pageUid="{data.uid}" column="1"/>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>
