<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <div class="row justify-content-md-center mt-5">
        <div class="col-md-11">
            <v:content.render pageUid="{data.uid}" column="0"/>
        </div>
    </div>

</f:section>

</html>
