<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
FSDHSFDGHFHETZASAETH
    <f:render section="Main" optional="true" />
    <f:render section="Footer" optional="true">
        <f:render partial="Footer/All" arguments="{_all}" />
    </f:render>
</f:spaceless>
</html>
